.mdc-card
    padding: 15px

.mdc-button
    margin: 15px

.mdc-fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

hr {
    margin-left: 0px;
    margin-right: 0px;
}

.mdc-layout-grid {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}